<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty was built by Patrick Hagmann. I like to remain mysterious so you basicly just wasted your time reading this.
  </p>
  

   <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Patty.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Patrick Hagmann</h2>
    <br />
    <p>
      Wolololo
    </p>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />